/* Put your CSS here */
.ember-application {
    margin: 2em;
}

button{
    width:10.0em;
}
.button-container{
    margin:1.5em;
}

.quiz-graded.answer-correct{
    background: #5E740B;
}
.quiz-graded.answer-incorrect{
    background: #710909;
}
.quiz-ungraded.answer-selected{
    background: #2b81af;
}